<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="edu.berkeley.eecs.emission.cordova.aware.battery" version="1.0.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AwarePlugin</name>
    <description>Aware migration for e-mission platform </description>
    <author>Bowen Xu (bwx074@cs.washington.edu)</author>
    <license>Modified BSD license</license>

    <engines>
        <engine name="cordova" version=">=3.6.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Aware">
                <param name="android-package" value="edu.berkeley.eecs.emission.cordova.AwarePlugin.AwarePlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <framework src="com.github.denzilferreira:aware-client:$aware_libs" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.aware.Aware"
                android:enabled="true"
                android:exported="false">
            </service>
        </config-file>

        <source-file src="src/android/AwarePlugin.java" target-dir="src/edu/berkeley/eecs/emission/AwarePlugin"/>

    </platform>
</plugin>