<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="edu.berkeley.eecs.emission.cordova.aware"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AwarePlugin</name>
    <description>Aware migration for e-mission platform</description>
    <author>Bowen Xu (bwx074@cs.washington.edu)</author>
    <license>Modified BSD license</license>

    <engines>
        <engine name="cordova" version=">=3.6.0"/>
    </engines>

    <js-module name="AwarePlugin" src="www/AwarePlugin.js">
        <clobbers target="cordova.plugins.AwarePlugin" />
    </js-module>
    <name>AwarePlugin</name>
    <platform name="android">
        <framework src="com.github.denzilferreira:aware-client:master-SNAPSHOT" />
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AwarePlugin">
                <param name="android-package"
                    value="edu.berkeley.eecs.emission.cordova.aware.AwarePlugin" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
<!--            <service-->
<!--                android:name="com.aware.Aware"-->
<!--                android:enabled="true"-->
<!--                android:exported="false">-->
<!--            </service>-->
        </config-file>
        <source-file src="src/android/AwarePlugin.java"
            target-dir="src/edu/berkeley/eecs/emission/cordova/aware/AwarePlugin" />
    </platform>
</plugin>